.body {
    width: 100vw;
    height:100vh;
    background: purple;
    margin: 0;
}
.button-container {
    width: 800px;
    height: 800px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.header {
    background: red;
    height: 50px;
    width: 100vw;
}
